Repository randomparity/kcs: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, docker-compose-check, cargo-check

.pre-commit-config.yaml:

repos:
  # Python formatting and linting with ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.6
    hooks:
      - id: ruff
        name: ruff-lint
        files: ^(src/python|tests)/.*\.py$
        args: [--fix]
      - id: ruff-format
        name: ruff-format
        files: ^(src/python|tests)/.*\.py$

  # Python type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.7.0
    hooks:
      - id: mypy
        files: ^src/python/.*\.py$
        additional_dependencies: [types-requests, types-PyYAML, types-psutil]

  # Rust formatting and linting
  - repo: local
    hooks:
      - id: rust-fmt
        name: rust-fmt
        entry: cargo fmt --all --
        language: system
        files: \.rs$
        pass_filenames: false

      - id: rust-clippy
        name: rust-clippy
        entry: cargo clippy --all-targets --all-features -- -D warnings
        language: system
        files: \.rs$
        pass_filenames: false

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: \.md$
      - id: end-of-file-fixer
        exclude: \.md$
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: detect-private-key

  # SQL formatting (disabled temporarily due to config issues)
  # - repo: https://github.com/sqlfluff/sqlfluff
  #   rev: 2.3.5
  #   hooks:
  #     - id: sqlfluff-lint
  #       files: \.sql$
  #       additional_dependencies: [sqlfluff-templater-dbt]

  # Documentation
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.37.0
    hooks:
      - id: markdownlint
        files: \.md$
        args: ['--fix']

  # Security scanning
  # - repo: https://github.com/Yelp/detect-secrets
  #   rev: v1.4.0
  #   hooks:
  #     - id: detect-secrets
  #       args: ['--baseline', '.secrets.baseline']

  # Configuration validation
  - repo: local
    hooks:
      - id: docker-compose-check
        name: docker-compose-check
        entry: docker compose config
        language: system
        files: docker-compose\.ya?ml$
        pass_filenames: false

      - id: cargo-check
        name: cargo-check
        entry: cargo check --all-targets
        language: system
        files: (Cargo\.toml|Cargo\.lock|\.rs)$
        pass_filenames: false

# Configuration
default_stages: [pre-commit]
fail_fast: false

# CI configuration
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ''
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: weekly
  skip: [rust-fmt, rust-clippy, cargo-check, docker-compose-check]
  submodules: false

fix(migrations): correct table names and column references in migration 011
  src/sql/migrations/011_existing_table_updates.sql
Due: none

fix: update index tool to use default postgres password
  tools/index_kernel.sh
Due: none

docs(pm): add project management docs for multi file json epic
  CLAUDE.md
  specs/006-multi-file-json/contracts/chunk-api.yaml
  specs/006-multi-file-json/data-model.md
  specs/006-multi-file-json/plan.md
  specs/006-multi-file-json/quickstart.md
  specs/006-multi-file-json/research.md
  specs/006-multi-file-json/spec.md
  specs/006-multi-file-json/tasks.md
Due: none

docs(pc): add doc files modified by markdownlint
  specs/006-multi-file-json/contracts/chunk-api.yaml
  specs/006-multi-file-json/data-model.md
  specs/006-multi-file-json/plan.md
  specs/006-multi-file-json/quickstart.md
  specs/006-multi-file-json/research.md
  specs/006-multi-file-json/spec.md
  specs/006-multi-file-json/tasks.md
Due: none

feat(sql): add database migration for chunk processing tracking (T001)
  specs/006-multi-file-json/tasks.md
  src/sql/migrations/012_chunk_tracking.sql
Due: none

feat(tests): create test fixture directory for chunk files (T002)
  specs/006-multi-file-json/tasks.md
  tests/fixtures/chunks/README.md
Due: none

feat(tests): generate sample chunk files for testing (T003)
  specs/006-multi-file-json/tasks.md
  tests/fixtures/chunks/sample_corrupt.json.invalid
  tests/fixtures/chunks/sample_drivers_net_001.json
  tests/fixtures/chunks/sample_fs_001.json
  tests/fixtures/chunks/sample_kernel_001.json
  tests/fixtures/chunks/sample_manifest.json
Due: none

feat(tests): add contract tests for chunk processing API endpoints (T004-T007)
  specs/006-multi-file-json/tasks.md
  tests/contract/test_chunk_batch.py
  tests/contract/test_chunk_manifest.py
  tests/contract/test_chunk_process.py
  tests/contract/test_chunk_status.py
Due: none

feat(tests): integration test for 60-chunk indexing scenario (T008)
  specs/006-multi-file-json/tasks.md
  tests/integration/test_full_chunking.py
Due: none

feat(tests): integration test for chunk processing resume (T009)
  specs/006-multi-file-json/tasks.md
  tests/integration/test_resume_processing.py
Due: none

feat(tests): integration test for incremental subsystem updates (T010)
  specs/006-multi-file-json/tasks.md
  tests/integration/test_incremental_chunks.py
Due: none

feat(tests): integration test for chunk boundary validation (T011)
  specs/006-multi-file-json/tasks.md
  tests/integration/test_chunk_boundaries.py
Due: none

feat(tests): unit test for chunk writer with size limits (T012)
  specs/006-multi-file-json/tasks.md
  src/rust/kcs-serializer/src/chunk_writer_test.rs
  src/rust/kcs-serializer/src/lib.rs
Due: rust-fmt, rust-clippy, cargo-check

feat(tests): unit test for manifest generation with size constraints (T013)
  specs/006-multi-file-json/tasks.md
  src/rust/kcs-serializer/src/lib.rs
  src/rust/kcs-serializer/src/manifest_test.rs
Due: rust-fmt, rust-clippy, cargo-check

feat(tests): unit test for SHA256 checksum calculation (T014)
  specs/006-multi-file-json/tasks.md
  src/rust/kcs-serializer/src/checksum_test.rs
  src/rust/kcs-serializer/src/lib.rs
Due: rust-fmt, rust-clippy, cargo-check

feat(database): apply chunk tracking migration (T015)
  specs/006-multi-file-json/tasks.md
Due: none

fix(rust): resolve compilation errors in kcs-python-bridge
  src/rust/kcs-python-bridge/src/lib.rs
Due: rust-fmt, rust-clippy, cargo-check

feat(models): create Pydantic models for chunk processing (T016)
  specs/006-multi-file-json/tasks.md
  src/python/kcs_mcp/models/__init__.py
  src/python/kcs_mcp/models/chunk_models.py
Due: none

feat(database): create chunk processing database queries (T017)
  specs/006-multi-file-json/tasks.md
  src/python/kcs_mcp/database/__init__.py
  src/python/kcs_mcp/database/chunk_queries.py
Due: none

feat(serializer): implement ChunkWriter with size limits and compression (T018)
  src/rust/kcs-serializer/Cargo.toml
  src/rust/kcs-serializer/src/chunk_writer.rs
  src/rust/kcs-serializer/src/chunk_writer_test.rs
  src/rust/kcs-serializer/src/lib.rs
Due: rust-fmt, rust-clippy, cargo-check

feat(serializer): implement ManifestBuilder for chunk manifests (T019)
  src/rust/kcs-serializer/Cargo.toml
  src/rust/kcs-serializer/src/chunk_writer.rs
  src/rust/kcs-serializer/src/lib.rs
  src/rust/kcs-serializer/src/manifest.rs
  src/rust/kcs-serializer/src/manifest_test.rs
Due: rust-fmt, rust-clippy, cargo-check

feat(serializer): implement checksum module with SHA256 calculation (T020)
  src/rust/kcs-serializer/src/checksum.rs
  src/rust/kcs-serializer/src/checksum_test.rs
  src/rust/kcs-serializer/src/lib.rs
Due: rust-fmt, rust-clippy, cargo-check

chore: add files claude forgot
  specs/006-multi-file-json/tasks.md
  src/rust/Cargo.lock
Due: cargo-check

feat(parser): add --chunk-size flag with chunked output support (T021)
  Cargo.lock
  specs/006-multi-file-json/tasks.md
  src/rust/Cargo.lock
  src/rust/kcs-parser/Cargo.toml
  src/rust/kcs-parser/src/main.rs
  src/rust/kcs-serializer/src/checksum.rs
  src/rust/kcs-serializer/src/checksum_test.rs
  src/rust/kcs-serializer/src/chunk_writer.rs
  src/rust/kcs-serializer/src/chunk_writer_test.rs
  src/rust/kcs-serializer/src/lib.rs
  src/rust/kcs-serializer/src/manifest.rs
  src/rust/kcs-serializer/src/manifest_test.rs
Due: rust-fmt, rust-clippy, cargo-check

feat(python-bridge): add chunk coordination bindings (T022)
  specs/006-multi-file-json/tasks.md
  src/rust/Cargo.lock
  src/rust/kcs-python-bridge/Cargo.toml
  src/rust/kcs-python-bridge/src/lib.rs
Due: rust-fmt, rust-clippy, cargo-check

feat(chunk-loader): implement async chunk loading module (T023)
  .pre-commit-config.yaml
  pyproject.toml
  specs/006-multi-file-json/tasks.md
  src/python/kcs_mcp/chunk_loader.py
  src/python/kcs_mcp/models/chunk_models.py
Due: none

feat(chunk-processor): implement chunk processing with resume capability (T024)
  src/python/kcs_mcp/chunk_processor.py
Due: none

chore: mark T024 complete in tasks.md
  specs/006-multi-file-json/tasks.md
Due: none

feat(tools): add chunk processing endpoints to FastAPI router (T025)
  src/python/kcs_mcp/database/__init__.py
  src/python/kcs_mcp/models/__init__.py
  src/python/kcs_mcp/tools.py
Due: none

chore: mark T025 complete in tasks.md
  specs/006-multi-file-json/tasks.md
  src/python/kcs_mcp/chunk_tracker.py
Due: none

chore: mark T026 complete in tasks.md
  specs/006-multi-file-json/tasks.md
Due: none

feat(indexing): add chunking support to index_kernel.sh (T027)
  tools/index_kernel.sh
Due: none

chore: mark T027 complete in tasks.md
  specs/006-multi-file-json/tasks.md
Due: none

feat(tools): add process_chunks.py script and fix database imports (T028)
  specs/006-multi-file-json/tasks.md
  src/python/kcs_mcp/database.py
  src/python/kcs_mcp/database/__init__.py
  tools/process_chunks.py
Due: none

refactor(models): fix import structure for consistency
  src/python/kcs_mcp/models.py
  src/python/kcs_mcp/models/__init__.py
Due: none

feat(integration): connect chunk_loader to database connection pool (T029)
  specs/006-multi-file-json/tasks.md
  src/python/kcs_mcp/chunk_loader.py
  tools/process_chunks.py
Due: none

fix(dev): add types-aiofiles to dev dependencies
  pyproject.toml
Due: none

feat(logging): add comprehensive structured logging for chunk progress (T030)
  specs/006-multi-file-json/tasks.md
  src/python/kcs_mcp/chunk_processor.py
  tools/process_chunks.py
Due: none

feat(concurrency): enhance parallel chunk processing with adaptive semaphores (T031)
  specs/006-multi-file-json/tasks.md
  src/python/kcs_mcp/chunk_processor.py
  tools/process_chunks.py
Due: none

feat(transactions): add database transaction boundaries per chunk (T032)
  specs/006-multi-file-json/tasks.md
  src/python/kcs_mcp/chunk_processor.py
Due: none
