Repository randomparity/kcs: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, docker-compose-check, cargo-check

rust-fmt:
  name: rust-fmt
  entry: cargo fmt --all --
  language: system
  pass_filenames: false

rust-clippy:
  name: rust-clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

docker-compose-check:
  name: docker-compose-check
  entry: docker compose config
  language: system
  pass_filenames: false

cargo-check:
  name: cargo-check
  entry: cargo check --all-targets
  language: system
  pass_filenames: false

feat(parser): add CallEdge and CallType structs for call graph extraction
  src/rust/kcs-parser/src/lib.rs
  src/rust/kcs-parser/src/types.rs
Due: rust-fmt, rust-clippy, cargo-check

feat(parser): extend ParseResult to use CallEdge struct
  src/rust/kcs-parser/src/lib.rs
Due: rust-fmt, rust-clippy, cargo-check

feat(tests): add call graph test fixtures
  tests/fixtures/call_graph/README.md
  tests/fixtures/call_graph/function_pointers.c
  tests/fixtures/call_graph/kernel_style.c
  tests/fixtures/call_graph/macro_calls.c
  tests/fixtures/call_graph/problematic.c
  tests/fixtures/call_graph/simple_calls.c
Due: none

feat(tests): add T004 contract test for parse_file call graph extraction
  src/rust/kcs-parser/tests/test_parser_api_contract.rs
Due: rust-fmt, rust-clippy, cargo-check

feat(tests): add T005 enhanced contract test for who_calls MCP endpoint
  tests/contract/test_mcp_who_calls_enhanced.py
Due: none

feat(tests): add T006 contract test for list_dependencies MCP endpoint
  tests/contract/test_mcp_list_dependencies.py
Due: none

feat(tests): add T007 contract test for entrypoint_flow MCP endpoint
  tests/contract/test_mcp_entrypoint_flow.py
Due: none

feat(tests): add T008 contract test for impact_of MCP endpoint
  tests/contract/test_mcp_impact_of.py
Due: none

feat(tests): add T009 integration test for basic call extraction
  Cargo.lock
  src/rust/kcs-graph/Cargo.toml
  src/rust/kcs-graph/tests/test_simple_calls.rs
Due: rust-fmt, rust-clippy, cargo-check

test(kcs-graph): add integration test for function pointer calls
  src/rust/kcs-graph/tests/test_function_pointers.rs
Due: rust-fmt, rust-clippy, cargo-check

test(integration): add MCP endpoint call graph integration tests
  tests/integration/test_mcp_integration.py
Due: none

test(kcs-graph): add comprehensive call graph performance tests
  src/rust/kcs-graph/tests/test_call_graph_perf.rs
Due: rust-fmt, rust-clippy, cargo-check

feat(kcs-parser): add tree-sitter call detection capabilities
  src/rust/kcs-parser/src/call_extractor.rs
  src/rust/kcs-parser/src/lib.rs
Due: rust-fmt, rust-clippy, cargo-check

feat(kcs-parser): integrate call extraction with main parsing loop
  specs/002-1-call-graph/tasks.md
  src/rust/kcs-parser/src/call_extractor.rs
  src/rust/kcs-parser/src/lib.rs
  src/rust/kcs-parser/src/tree_sitter_parser.rs
Due: rust-fmt, rust-clippy, cargo-check

docs: add specification files for call graph epic
  specs/002-1-call-graph/contracts/mcp-endpoints.json
  specs/002-1-call-graph/contracts/parser-api.json
  specs/002-1-call-graph/data-model.md
  specs/002-1-call-graph/plan.md
  specs/002-1-call-graph/quickstart.md
  specs/002-1-call-graph/research.md
  specs/002-1-call-graph/spec.md
Due: none

feat(kcs-parser): add CLI flag --include-calls for call graph extraction
  specs/002-1-call-graph/tasks.md
  src/rust/kcs-parser/src/lib.rs
  src/rust/kcs-parser/src/main.rs
Due: rust-fmt, rust-clippy, cargo-check

feat(mcp): implement call graph database integration
  src/python/kcs_mcp/database.py
Due: none

feat(mcp): update who_calls endpoint to use call graph data
  src/python/kcs_mcp/tools.py
Due: none

feat(mcp): update list_dependencies endpoint to use call graph data
  specs/002-1-call-graph/tasks.md
  src/python/kcs_mcp/tools.py
  src/rust/Cargo.lock
Due: cargo-check

feat(mcp): update entrypoint_flow and impact_of endpoints to use call graph data
  src/python/kcs_mcp/tools.py
Due: none

feat(kcs-parser): add comprehensive call graph extraction benchmarks
  src/rust/kcs-parser/Cargo.toml
  src/rust/kcs-parser/benches/call_graph_bench.rs
Due: rust-fmt, rust-clippy, cargo-check

docs: mark T022 complete in call graph tasks
  specs/002-1-call-graph/tasks.md
Due: none

docs: comprehensive documentation updates for call graph functionality
  .gitignore
  README.md
  docs/api/endpoints.md
  docs/benchmarking.md
  docs/cli.md
Due: none

docs: add existing API documentation files to version control
  docs/api/api-overview.md
  docs/api/authentication.md
  docs/api/error-handling.md
  docs/api/examples.md
  docs/api/integration.md
  docs/api/schemas.md
Due: none

fix(tests): fix failing parser contract tests for call graph extraction
  src/rust/kcs-parser/src/lib.rs
  src/rust/kcs-parser/tests/test_parser_api_contract.rs
Due: rust-fmt, rust-clippy, cargo-check

chore(pm): start new MCP tools implementation epic
  specs/003-implement-mcp-tools/contracts/entrypoint_flow.yaml
  specs/003-implement-mcp-tools/contracts/impact_of.yaml
  specs/003-implement-mcp-tools/contracts/list_dependencies.yaml
  specs/003-implement-mcp-tools/contracts/who_calls.yaml
  specs/003-implement-mcp-tools/data-model.md
  specs/003-implement-mcp-tools/plan.md
  specs/003-implement-mcp-tools/quickstart.md
  specs/003-implement-mcp-tools/research.md
  specs/003-implement-mcp-tools/spec.md
  specs/003-implement-mcp-tools/tasks.md
Due: none

test(mcp): add contract test for who_calls endpoint
  specs/003-implement-mcp-tools/tasks.md
  tests/contract/test_mcp_who_calls_implementation.py
Due: none

test(mcp): add contract test for list_dependencies endpoint
  specs/003-implement-mcp-tools/tasks.md
  tests/contract/test_mcp_list_dependencies_implementation.py
Due: none

test(mcp): add contract test for entrypoint_flow endpoint
  specs/003-implement-mcp-tools/tasks.md
  tests/contract/test_mcp_entrypoint_flow_implementation.py
Due: none

test(mcp): add contract test for impact_of endpoint
  specs/003-implement-mcp-tools/tasks.md
  tests/contract/test_mcp_impact_of_implementation.py
Due: none

test(mcp): add integration test for citation accuracy
  specs/003-implement-mcp-tools/tasks.md
  tests/integration/test_mcp_citations.py
Due: none

test(mcp): add integration test for depth limiting
  specs/003-implement-mcp-tools/tasks.md
  tests/integration/test_mcp_depth_traversal.py
Due: none

test(mcp): add integration test for cycle detection
  specs/003-implement-mcp-tools/tasks.md
  tests/integration/test_mcp_cycle_handling.py
  tools/extract_entry_points_streaming.py
Due: none

test(mcp): add integration test for empty results handling
  specs/003-implement-mcp-tools/tasks.md
  tests/integration/test_mcp_empty_results.py
Due: none

feat(database): add depth traversal to find_callers and find_callees
  specs/003-implement-mcp-tools/tasks.md
  src/python/kcs_mcp/database.py
Due: none

feat(mcp): implement actual functionality for who_calls and list_dependencies
  specs/003-implement-mcp-tools/tasks.md
  src/python/kcs_mcp/tools.py
Due: none

feat(mcp): implement entrypoint_flow and impact_of endpoints
  specs/003-implement-mcp-tools/tasks.md
  src/python/kcs_mcp/tools.py
Due: none

perf(mcp): add performance validation tests for MCP endpoints
  specs/003-implement-mcp-tools/tasks.md
  tests/performance/test_mcp_performance.py
Due: none

docs: update documentation with MCP implementation details
  CHANGELOG.md
  README.md
  docs/api/endpoints.md
Due: none

docs: add feature spec and enhanced CLAUDE.md for kernel patterns
  CLAUDE.md
  specs/004-current-code-has/contracts/detect_patterns.yaml
  specs/004-current-code-has/contracts/enhance_symbols.yaml
  specs/004-current-code-has/contracts/extract_entry_points.yaml
  specs/004-current-code-has/data-model.md
  specs/004-current-code-has/plan.md
  specs/004-current-code-has/quickstart.md
  specs/004-current-code-has/research.md
  specs/004-current-code-has/spec.md
  specs/004-current-code-has/tasks.md
Due: none

Path conditions:
  rust-fmt: any of: \.rs$
  rust-clippy: any of: \.rs$
  docker-compose-check: any of: docker-compose\.ya?ml$
  cargo-check: any of: (Cargo\.toml|Cargo\.lock|\.rs)$
