Repository randomparity/kcs: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, docker-compose-check, cargo-check

.pre-commit-config.yaml:

repos:
  # Python formatting and linting with ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.6
    hooks:
      - id: ruff
        name: ruff-lint
        files: ^(src/python|tests)/.*\.py$
        args: [--fix]
      - id: ruff-format
        name: ruff-format
        files: ^(src/python|tests)/.*\.py$

  # Python type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.7.0
    hooks:
      - id: mypy
        files: ^src/python/.*\.py$
        additional_dependencies: [types-requests, types-PyYAML, types-psutil]

  # Rust formatting and linting
  - repo: local
    hooks:
      - id: rust-fmt
        name: rust-fmt
        entry: cargo fmt --all --
        language: system
        files: \.rs$
        pass_filenames: false

      - id: rust-clippy
        name: rust-clippy
        entry: cargo clippy --all-targets --all-features -- -D warnings
        language: system
        files: \.rs$
        pass_filenames: false

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: \.md$
      - id: end-of-file-fixer
        exclude: \.md$
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: detect-private-key

  # SQL formatting (disabled temporarily due to config issues)
  # - repo: https://github.com/sqlfluff/sqlfluff
  #   rev: 2.3.5
  #   hooks:
  #     - id: sqlfluff-lint
  #       files: \.sql$
  #       additional_dependencies: [sqlfluff-templater-dbt]

  # Documentation
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.37.0
    hooks:
      - id: markdownlint
        files: \.md$
        args: ['--fix']

  # Security scanning
  # - repo: https://github.com/Yelp/detect-secrets
  #   rev: v1.4.0
  #   hooks:
  #     - id: detect-secrets
  #       args: ['--baseline', '.secrets.baseline']

  # Configuration validation
  - repo: local
    hooks:
      - id: docker-compose-check
        name: docker-compose-check
        entry: docker compose config
        language: system
        files: docker-compose\.ya?ml$
        pass_filenames: false

      - id: cargo-check
        name: cargo-check
        entry: cargo check --all-targets
        language: system
        files: (Cargo\.toml|Cargo\.lock|\.rs)$
        pass_filenames: false

# Configuration
default_stages: [pre-commit]
fail_fast: false

# CI configuration
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ''
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: weekly
  skip: [rust-fmt, rust-clippy, cargo-check, docker-compose-check]
  submodules: false

fix(kcs-parser): resolve clippy warnings in clang_bridge
  src/rust/kcs-parser/src/clang_bridge.rs
Due: rust-fmt, rust-clippy, cargo-check

feat(kcs-graph): add performance benchmarks for traversal algorithms - T032
  Cargo.lock
  src/rust/Cargo.lock
  src/rust/kcs-graph/Cargo.toml
  src/rust/kcs-graph/benches/traversal.rs
Due: rust-fmt, rust-clippy, cargo-check

docs: mark T032 complete in tasks.md
  specs/005-infrastructure-empty-stub/tasks.md
Due: none

feat(kcs-serializer): create crate structure with placeholder implementations - T033
  src/rust/Cargo.lock
  src/rust/Cargo.toml
  src/rust/kcs-serializer/Cargo.toml
  src/rust/kcs-serializer/src/chunker.rs
  src/rust/kcs-serializer/src/graphml_export.rs
  src/rust/kcs-serializer/src/json_export.rs
  src/rust/kcs-serializer/src/lib.rs
  src/rust/kcs-serializer/src/main.rs
Due: rust-fmt, rust-clippy, cargo-check

docs: mark T033 complete in tasks.md
  specs/005-infrastructure-empty-stub/tasks.md
Due: none

feat(kcs-serializer): implement JSON Graph format export - T034
  src/rust/kcs-serializer/src/json_export.rs
Due: rust-fmt, rust-clippy, cargo-check

docs: mark T034 complete in tasks.md
  specs/005-infrastructure-empty-stub/tasks.md
Due: none

feat(kcs-serializer): implement GraphML format export - T035
  src/rust/kcs-serializer/src/graphml_export.rs
Due: rust-fmt, rust-clippy, cargo-check

docs: mark T035 complete in tasks.md
  specs/005-infrastructure-empty-stub/tasks.md
Due: none

feat(kcs-serializer): implement graph chunking support - T036
  src/rust/kcs-serializer/src/chunker.rs
Due: rust-fmt, rust-clippy, cargo-check

docs: mark T036 complete in tasks.md
  specs/005-infrastructure-empty-stub/tasks.md
Due: none

feat(kcs-serializer): write comprehensive unit tests for serialization formats - T037
  src/rust/kcs-serializer/src/chunker.rs
  src/rust/kcs-serializer/src/lib.rs
  src/rust/kcs-serializer/tests/error_handling_tests.rs
  src/rust/kcs-serializer/tests/integration_tests.rs
  src/rust/kcs-serializer/tests/performance_tests.rs
Due: rust-fmt, rust-clippy, cargo-check

docs: mark T037 complete in tasks.md
  specs/005-infrastructure-empty-stub/tasks.md
Due: none

feat(kcs-serializer): implement complete CLI interface with all commands - T038
  src/rust/kcs-serializer/Cargo.toml
  src/rust/kcs-serializer/src/main.rs
  src/rust/kcs-serializer/tests/cli_tests.rs
Due: rust-fmt, rust-clippy, cargo-check

docs: mark T038 complete in tasks.md
  specs/005-infrastructure-empty-stub/tasks.md
Due: none

feat(kcs-mcp): implement parse_kernel_config endpoint - T039
  src/python/kcs_mcp/database.py
  src/python/kcs_mcp/models.py
  src/python/kcs_mcp/tools.py
Due: none

docs: mark T039 complete in tasks.md
  specs/005-infrastructure-empty-stub/tasks.md
Due: none

feat(kcs-mcp): implement validate_spec endpoint - T040
  src/python/kcs_mcp/database.py
  src/python/kcs_mcp/models.py
  src/python/kcs_mcp/tools.py
Due: none

docs: mark T040 complete in tasks.md
  specs/005-infrastructure-empty-stub/tasks.md
Due: none

chore: update Cargo.lock with new dependencies
  src/rust/Cargo.lock
Due: cargo-check

feat(kcs-mcp): implement semantic_search endpoint - T041
  src/python/kcs_mcp/database.py
  src/python/kcs_mcp/models.py
  src/python/kcs_mcp/tools.py
Due: none

docs: mark T041 complete in tasks.md
  specs/005-infrastructure-empty-stub/tasks.md
Due: none

feat(kcs-mcp): implement traverse_call_graph endpoint with advanced graph analysis - T042
  src/python/kcs_mcp/models.py
  src/python/kcs_mcp/tools.py
Due: none

docs: mark T042 complete in tasks.md
  specs/005-infrastructure-empty-stub/tasks.md
Due: none

feat(kcs-mcp): implement export_graph endpoint with comprehensive graph export - T043
  src/python/kcs_mcp/models.py
  src/python/kcs_mcp/tools.py
Due: none

docs: mark T043 complete in tasks.md
  specs/005-infrastructure-empty-stub/tasks.md
Due: none

feat(kcs-mcp): add comprehensive database queries for kernel_config - T044
  src/python/kcs_mcp/database.py
Due: none

docs: mark T044 complete in tasks.md
  specs/005-infrastructure-empty-stub/tasks.md
Due: none

feat(kcs-mcp): add comprehensive database queries for specifications - T045
  src/python/kcs_mcp/database.py
Due: none

docs: mark T045 complete in tasks.md
  specs/005-infrastructure-empty-stub/tasks.md
Due: none

feat(kcs-mcp): complete T046-T048 - comprehensive database queries and models
  specs/005-infrastructure-empty-stub/tasks.md
  src/python/kcs_mcp/database.py
  src/python/kcs_mcp/models.py
Due: none

fix(kcs-mcp): resolve type errors in tools.py by updating store_kernel_config signature
  src/python/kcs_mcp/database.py
Due: none

feat(test): complete T049 - comprehensive multi-arch config integration test
  specs/005-infrastructure-empty-stub/tasks.md
  tests/integration/test_multi_arch.py
Due: none

feat(test): complete T050 - semantic search accuracy integration test
  specs/005-infrastructure-empty-stub/tasks.md
  tests/integration/test_semantic_accuracy.py
Due: none

feat(test): complete T051 - graph traversal performance test
  specs/005-infrastructure-empty-stub/tasks.md
  tests/performance/test_graph_perf.py
Due: none

feat(test): complete T052 - large graph export memory test
  specs/005-infrastructure-empty-stub/tasks.md
  tests/performance/test_export_memory.py
Due: none

feat(test): complete T053 - execute full quickstart validation script
  specs/005-infrastructure-empty-stub/tasks.md
Due: none

feat(docs): complete Phase 6 documentation and cleanup tasks (T054-T057)
  CHANGELOG.md
  CLAUDE.md
  README.md
  docs/api/endpoints.md
  specs/003-implement-mcp-tools/spec.md
  specs/005-infrastructure-empty-stub/data-model.md
  specs/005-infrastructure-empty-stub/tasks.md
Due: none

fix(docs): resolve remaining markdown linting issues across all spec files
  specs/002-1-call-graph/data-model.md
  specs/002-1-call-graph/research.md
  specs/003-implement-mcp-tools/contracts/entrypoint_flow.yaml
  specs/003-implement-mcp-tools/contracts/impact_of.yaml
  specs/003-implement-mcp-tools/contracts/list_dependencies.yaml
  specs/003-implement-mcp-tools/contracts/who_calls.yaml
  specs/003-implement-mcp-tools/data-model.md
  specs/003-implement-mcp-tools/quickstart.md
  specs/003-implement-mcp-tools/research.md
  specs/005-infrastructure-empty-stub/contracts/mcp-infrastructure.yaml
  specs/005-infrastructure-empty-stub/contracts/test_contracts.py
  specs/005-infrastructure-empty-stub/quickstart.md
  specs/005-infrastructure-empty-stub/research.md
Due: none

fix(migrations): resolve drift_report table conflict in migration 008
  src/sql/migrations/008_drift_report.sql
Due: none
