Repository randomparity/kcs: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, docker-compose-check, cargo-check

.pre-commit-config.yaml:

repos:
  # Python formatting and linting with ruff
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.6
    hooks:
      - id: ruff
        name: ruff-lint
        files: ^(src/python|tests)/.*\.py$
        args: [--fix]
      - id: ruff-format
        name: ruff-format
        files: ^(src/python|tests)/.*\.py$

  # Python type checking
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.7.0
    hooks:
      - id: mypy
        files: ^src/python/.*\.py$
        additional_dependencies: [types-requests, types-PyYAML, types-psutil]

  # Rust formatting and linting
  - repo: local
    hooks:
      - id: rust-fmt
        name: rust-fmt
        entry: cargo fmt --all --
        language: system
        files: \.rs$
        pass_filenames: false

      - id: rust-clippy
        name: rust-clippy
        entry: cargo clippy --all-targets --all-features -- -D warnings
        language: system
        files: \.rs$
        pass_filenames: false

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: \.md$
      - id: end-of-file-fixer
        exclude: \.md$
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: detect-private-key

  # SQL formatting (disabled temporarily due to config issues)
  # - repo: https://github.com/sqlfluff/sqlfluff
  #   rev: 2.3.5
  #   hooks:
  #     - id: sqlfluff-lint
  #       files: \.sql$
  #       additional_dependencies: [sqlfluff-templater-dbt]

  # Documentation
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.37.0
    hooks:
      - id: markdownlint
        files: \.md$
        args: ['--fix']

  # Security scanning
  # - repo: https://github.com/Yelp/detect-secrets
  #   rev: v1.4.0
  #   hooks:
  #     - id: detect-secrets
  #       args: ['--baseline', '.secrets.baseline']

  # Configuration validation
  - repo: local
    hooks:
      - id: docker-compose-check
        name: docker-compose-check
        entry: docker compose config
        language: system
        files: docker-compose\.ya?ml$
        pass_filenames: false

      - id: cargo-check
        name: cargo-check
        entry: cargo check --all-targets
        language: system
        files: (Cargo\.toml|Cargo\.lock|\.rs)$
        pass_filenames: false

# Configuration
default_stages: [pre-commit]
fail_fast: false

# CI configuration
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit hooks

    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ''
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: weekly
  skip: [rust-fmt, rust-clippy, cargo-check, docker-compose-check]
  submodules: false

feat(checksum): enhance checksum verification with pre-processing validation (T033)
  specs/006-multi-file-json/tasks.md
  src/python/kcs_mcp/chunk_processor.py
  tools/process_chunks.py
Due: none

feat(perf): add comprehensive 50MB chunk generation performance tests (T034)
  specs/006-multi-file-json/tasks.md
  tests/performance/test_chunk_generation.py
Due: none

feat(perf): add comprehensive parallel chunk loading performance tests (T035)
  specs/006-multi-file-json/tasks.md
  tests/performance/test_parallel_loading.py
Due: none

feat(test): add memory usage performance tests for chunk processing (T036)
  specs/006-multi-file-json/tasks.md
  tests/performance/test_memory_usage.py
Due: none

docs(tools): add comprehensive README with chunking examples (T037)
  specs/006-multi-file-json/tasks.md
  tools/README.md
Due: none

docs: add comprehensive troubleshooting guide for chunk failures (T038)
  docs/troubleshooting.md
  specs/006-multi-file-json/tasks.md
Due: none

chore: mark T039 complete - CLAUDE.md chunk workflow already documented
  specs/006-multi-file-json/tasks.md
Due: none

feat(perf): complete T042 performance validation and fix chunked indexing
  specs/006-multi-file-json/tasks.md
  tools/index_kernel.sh
Due: none

fix(test): update contract test server detection to use /health endpoint
  Cargo.lock
  src/python/kcs_mcp/chunk_loader.py
  src/python/kcs_mcp/chunk_processor.py
  src/rust/Cargo.lock
  src/rust/kcs-parser/Cargo.toml
  src/rust/kcs-parser/src/lib.rs
  src/rust/kcs-parser/src/main.rs
  src/rust/kcs-python-bridge/src/lib.rs
  src/rust/kcs-serializer/src/chunk_writer.rs
  src/rust/kcs-serializer/src/manifest.rs
  src/rust/kcs-serializer/src/manifest_test.rs
  tests/contract/test_chunk_manifest.py
  tools/index_kernel.sh
Due: rust-fmt, rust-clippy, cargo-check

fix(database): update SHA constraint to accept SHA-256 (64 chars) and remove padding logic
  src/python/kcs_mcp/chunk_processor.py
Due: none

fix(chunk_processor): filter out symbols with empty names
  src/python/kcs_mcp/chunk_processor.py
Due: none

fix(tests): resolve Rust unit test failures in kcs-serializer
  src/rust/kcs-serializer/src/manifest.rs
  src/rust/kcs-serializer/src/manifest_test.rs
Due: rust-fmt, rust-clippy, cargo-check

docs(pm): docs for call graph extraction epic
  CLAUDE.md
  specs/007-call-graph-extraction/contracts/call-graph-api.yaml
  specs/007-call-graph-extraction/data-model.md
  specs/007-call-graph-extraction/plan.md
  specs/007-call-graph-extraction/quickstart.md
  specs/007-call-graph-extraction/research.md
  specs/007-call-graph-extraction/spec.md
  specs/007-call-graph-extraction/tasks.md
Due: none

feat(call-graph): add kcs-graph dependency to kcs-parser
  Cargo.lock
  specs/007-call-graph-extraction/tasks.md
  src/rust/Cargo.lock
  src/rust/kcs-parser/Cargo.toml
Due: cargo-check

feat(call-graph): add database migration for call graph tables
  specs/007-call-graph-extraction/tasks.md
  src/sql/migrations/013_call_graph_tables.sql
Due: none

feat(parser): add Tree-sitter query patterns for C call detection
  specs/007-call-graph-extraction/tasks.md
  src/rust/kcs-parser/queries/call_patterns.scm
Due: none

feat(lint): configure clippy and rustfmt for call graph modules
  Cargo.toml
  scripts/linting/check-call-graph.sh
  specs/007-call-graph-extraction/tasks.md
  src/rust/kcs-graph/.clippy.toml
  src/rust/kcs-graph/.rustfmt.toml
  src/rust/kcs-graph/benches/traversal.rs
  src/rust/kcs-graph/src/builder.rs
  src/rust/kcs-graph/src/config.rs
  src/rust/kcs-graph/src/cycles.rs
  src/rust/kcs-graph/src/lib.rs
  src/rust/kcs-graph/src/main.rs
  src/rust/kcs-graph/src/queries.rs
  src/rust/kcs-graph/src/traversal.rs
  src/rust/kcs-graph/tests/test_call_graph_perf.rs
  src/rust/kcs-graph/tests/test_function_pointers.rs
  src/rust/kcs-graph/tests/test_simple_calls.rs
  src/rust/kcs-parser/.clippy.toml
  src/rust/kcs-parser/.rustfmt.toml
  src/rust/kcs-parser/benches/parser_benchmarks.rs
  src/rust/kcs-parser/src/call_extractor.rs
  src/rust/kcs-parser/src/clang_bridge.rs
  src/rust/kcs-parser/src/kernel_patterns.rs
  src/rust/kcs-parser/src/lib.rs
  src/rust/kcs-parser/src/main.rs
  src/rust/kcs-parser/src/tree_sitter_parser.rs
  src/rust/kcs-parser/tests/test_parser_api_contract.rs
Due: rust-fmt, rust-clippy, cargo-check

feat(tests): add contract tests for all four MCP endpoints
  specs/007-call-graph-extraction/tasks.md
  tests/contract/test_call_graph_extraction.py
  tests/contract/test_call_path_tracing.py
  tests/contract/test_call_relationships.py
  tests/contract/test_function_pointers.py
Due: none

feat(tests): add integration tests for call graph extraction (T009-T012)
  specs/007-call-graph-extraction/tasks.md
  tests/integration/test_direct_calls.py
  tests/integration/test_path_tracing.py
  tests/integration/test_pointer_analysis.py
  tests/integration/test_relationship_queries.py
Due: none

feat(models): implement CallEdge struct and core types (T013)
  specs/007-call-graph-extraction/tasks.md
  src/rust/kcs-graph/src/call_edge.rs
  src/rust/kcs-graph/src/lib.rs
  src/rust/kcs-graph/src/types.rs
Due: rust-fmt, rust-clippy, cargo-check

feat(models): implement CallSite struct (T014)
  specs/007-call-graph-extraction/tasks.md
  src/rust/kcs-graph/src/call_site.rs
  src/rust/kcs-graph/src/lib.rs
Due: rust-fmt, rust-clippy, cargo-check

feat(models): implement MacroCall struct (T015)
  specs/007-call-graph-extraction/tasks.md
  src/rust/kcs-graph/src/call_edge.rs
  src/rust/kcs-graph/src/lib.rs
  src/rust/kcs-graph/src/macro_call.rs
Due: rust-fmt, rust-clippy, cargo-check

feat(models): implement FunctionPointer struct (T016)
  specs/007-call-graph-extraction/tasks.md
  src/rust/kcs-graph/src/function_pointer.rs
  src/rust/kcs-graph/src/lib.rs
Due: rust-fmt, rust-clippy, cargo-check

feat(models): implement CallPath struct (T017)
  Cargo.lock
  specs/007-call-graph-extraction/tasks.md
  src/rust/kcs-graph/Cargo.toml
  src/rust/kcs-graph/src/call_path.rs
  src/rust/kcs-graph/src/lib.rs
  src/rust/kcs-graph/src/types.rs
Due: rust-fmt, rust-clippy, cargo-check

docs(tasks): mark T018 as complete
  specs/007-call-graph-extraction/tasks.md
Due: none

feat(parser): implement direct function call detection (T019)
  specs/007-call-graph-extraction/tasks.md
  src/rust/kcs-parser/src/call_extraction/direct_calls.rs
  src/rust/kcs-parser/src/call_extraction/mod.rs
  src/rust/kcs-parser/src/lib.rs
Due: rust-fmt, rust-clippy, cargo-check

feat(parser): implement function pointer call detection (T020)
  specs/007-call-graph-extraction/tasks.md
  src/rust/kcs-parser/src/call_extraction/mod.rs
  src/rust/kcs-parser/src/call_extraction/pointer_calls.rs
Due: rust-fmt, rust-clippy, cargo-check

feat(parser): implement macro call expansion detection (T021)
  specs/007-call-graph-extraction/tasks.md
  src/rust/kcs-parser/src/call_extraction/macro_calls.rs
  src/rust/kcs-parser/src/call_extraction/mod.rs
Due: rust-fmt, rust-clippy, cargo-check

fix(config): remove nightly-only rustfmt options to eliminate warnings
  src/rust/kcs-graph/.rustfmt.toml
  src/rust/kcs-parser/.rustfmt.toml
Due: none

feat(parser): implement callback pattern recognition (T022)
  specs/007-call-graph-extraction/tasks.md
  src/rust/kcs-parser/src/call_extraction/callbacks.rs
  src/rust/kcs-parser/src/call_extraction/mod.rs
Due: rust-fmt, rust-clippy, cargo-check

feat(parser): implement conditional compilation handling (T023)
  specs/007-call-graph-extraction/tasks.md
  src/rust/kcs-parser/src/call_extraction/conditional.rs
  src/rust/kcs-parser/src/call_extraction/mod.rs
Due: rust-fmt, rust-clippy, cargo-check

feat(parser): implement T024 CallExtractor main engine
  specs/007-call-graph-extraction/tasks.md
  src/rust/kcs-parser/src/call_extraction/callbacks.rs
  src/rust/kcs-parser/src/call_extraction/conditional.rs
  src/rust/kcs-parser/src/call_extraction/macro_calls.rs
  src/rust/kcs-parser/src/call_extraction/mod.rs
  src/rust/kcs-parser/src/call_extraction/pointer_calls.rs
Due: rust-fmt, rust-clippy, cargo-check

feat(parser): implement T025 AST traversal coordinator
  specs/007-call-graph-extraction/tasks.md
  src/rust/kcs-parser/src/ast_traversal.rs
  src/rust/kcs-parser/src/lib.rs
Due: rust-fmt, rust-clippy, cargo-check

feat(parser): implement T026 call classification logic
  specs/007-call-graph-extraction/tasks.md
  src/rust/Cargo.lock
  src/rust/kcs-parser/src/call_classifier.rs
  src/rust/kcs-parser/src/lib.rs
Due: rust-fmt, rust-clippy, cargo-check

feat(parser): implement T027 parallel processing optimization
  specs/007-call-graph-extraction/tasks.md
  src/rust/kcs-parser/src/lib.rs
  src/rust/kcs-parser/src/parallel_processing.rs
Due: rust-fmt, rust-clippy, cargo-check

feat(database): implement T028 call graph database operations
  specs/007-call-graph-extraction/tasks.md
  src/python/kcs_mcp/database/__init__.py
  src/python/kcs_mcp/database/call_graph.py
Due: none

feat(database): implement T029 call graph relationship queries
  specs/007-call-graph-extraction/tasks.md
  src/python/kcs_mcp/database/queries.py
Due: none

feat(graph): complete T030 graph traversal algorithms integration with petgraph
  specs/007-call-graph-extraction/tasks.md
Due: none

fix(makefile): update docker-compose-down to stop all profiles
  Makefile
Due: none
